<footer>
    <hr class="footer-hr">
    <div class="footer-wrapper">
        <div class="footer-box">
            <p>Para a sua segurança</p>
            <ul>
                <li><a href="#">Condições de venda</a></li>
                <li><a href="#">Compras 100% seguras</a></li>
                <li><a href="#">Política de privacidade</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <p>Estamos aqui para o ajudar</p>
            <ul>
                <li><a href="#">Como comprar</a></li>
                <li><a href="#">Mapa do site</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Contacte-nos</a></li>
                <li><a href="#">Livro de Reclamações Eletrónico</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <p>Ponto de encontro</p>
            <ul>
                <li><a href="#">Blogue Somos Livros</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Receber novidades</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <p>Quem somos</p>
            <ul>
                <li><a href="#">As nossas livrarias</a></li>
                <li><a href="#">Café MYPROJECT</a></li>
                <li><a href="#">Trabalhar connosco</a></li>
            </ul>
        </div>
    </div>
    <hr class="footer-hr">
    <div class="final-footer">
        <p>
            Salvo onde se indique um período de vigência mais alargado, os preços, promoções e ofertas são válidos
            das 00:00:00 de 25-11-2019 às 23:59:59 de 25-11-2019 e só para a livraria MYPROJECT online.
            &copy;2019 Grupo MYPROJECT. Todos os direitos reservados, Açores, Portugal
        </p>
    </div>
</footer>
