.test-list {
    margin-top: 30px;
  }
  
  .list-name {
    color: #333;
    font-weight: 300;
  }
  
  .test-list header{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-gray);
    padding: 15px;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .test-list header span {
    color: var(--main-orange);
  }
  
  .test-list header img {
    width: 15px;
    height: 15px;
  }
  
  .list-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(182, 181, 181);
    padding: 15px;
  }
  
  .list-options div:first-child {
    display: flex;
  }
  
  .list-options div:first-child > div:first-child {
    padding-right: 15px;
    border-right: 1px solid #333;
    cursor: pointer;
  }
  
  .list-options div:first-child > div:last-child {
    padding-left: 15px;
    cursor: pointer;
  }
  
  .list-options img {
    width: 25px;
    height: 25px;
  }
  
  .share-list a {
    display: flex;
    align-items: center;
    color: rgb(0,0,0);
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  .share-list span {
    margin-right: 15px;
    font-weight: 500;
  }

  .list-books {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  
  .list-books .book-box {
    margin-top: 40px;
    flex: 0 50%;
  }
  
  .list-books .book-box:nth-child(2n + 2) {
    border-left: 1px solid rgb(169, 169, 169);
  }
  
  .list-books .book-box img{
    width: 180px;
    height: 280px;
  }
  
  .list-books .book-box button {
    width: 80%;
    padding: 15px 0px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }

  .d-none {
    display: none;
  }

  @media screen and (max-width: 890px) {
    .list-books {
      justify-content: center;
    }

    .list-books .book-box:nth-child(2n + 2) {
      border-left: none;
    }
  }

  