/*-----------------------------------------------*/
  /*---------------------- NAV --------------------*/
  /*-----------------------------------------------*/
  nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 3px 10px rgba(51, 51, 51, 0.479);
  }
  
  .brand-col-10 {
    flex: 1 20%; 
    margin-left: 20px;
  }
  
  .brand {
    display: flex;
    text-align: center;
  }
  
  .brand img {
    width: 50px;
    height: 50px;
  }
  
  .brand h1{
    font-size: 2.0rem;
    margin: 0 0 -6px 10px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'Baskervville', serif;
  }
  
  .brand span {
    color: var(--main-orange);
  }
  
  .search-col-70 {
    display: flex;
    align-items: center;
    flex: 1 60%;
  }
  
  .search-col-70 img {
    width: 35px;
    background-color: var(--main-gray);
    height: 48px;
    padding-right: 10px;
  }
  
  .search-col-70 input {
    width: 90%;
    padding: 15px;
    background-color: var(--main-gray);
    color: #888888;
    font-size: 1.6rem;
    border: none;
  }
  
  .nav-menu-col-20 {
    flex: 1 20%;
  }
  
  .nav-menu-col-20 img {
    width: 45px;
    height: 45px;
    padding: 10px;
  }
  
  .nav-menu-col-20 ul {
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .nav-menu-col-20 ul li {
    margin-right: 20px;
  }
  
  .nav-menu-col-20 ul li:hover {
    color: var(--main-orange);
    cursor: pointer;
  }
  
  .nav-menu-col-20 li:hover .menu-icon {
    border: 1px solid var(--main-orange);
  }

  /*-----------------GENERAL DROPDOWN --------------*/
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: -1px;
    padding: 0px 0px;
    position: absolute;
    box-shadow: 1px 18px 15px rgba(51, 51, 51, 0.516);
    z-index: 100;
    animation-name: dropdownEffect;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }
  
  .menu-dropdown li:first-child{
    margin-top: 13px;
    border-top: 4px solid var(--main-orange);
  }
  
  
  
  .menu-dropdown li {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    padding: 10px 30px;
  }
  
  .menu-hr {
    width: 80%;
    margin:-2px auto;
    border: 1px solid var(--main-gray);
  }
  
  .menu-dropdown li:hover {
    background-color: var(--main-gray);
  }
  
  .menu-dropdown li a {
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  @keyframes dropdownEffect {
    from{
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }
  /*--------------------Client Dropdown------------*/
  .menu-cliente:hover .cliente-dropdown {
    display: flex;
  }
  
  .menu-cliente li:first-child a,
  .menu-cliente li:last-child a{
    display: flex;
    align-items: center;
  }
  
  nav .cliente-dropdown {
    display: none;
    right: 180px;
  }
  
  .cliente-login {
    display: flex;
    align-items: center;
  }
  
  .cliente-login p {
    margin: 0;
  }
  
  .cliente-login p{
    color: #333;
  }
  
  .cliente-login img {
    padding-left: 0;
  }
  
  .cliente-dropdown:hover img {
    border: none;
  }
  
  /*------------------- Ajuda Dropdown ---------------*/
  .menu-ajuda:hover .ajuda-dropdown {
    display: flex;
  }
  
  nav .ajuda-dropdown {
    display: none;
    right: 20px;
  }
  
  /*------------------- Cesto Dropdown ---------------*/
  .menu-cesto:hover .cesto-dropdown {
    display: flex;
    color: #333;
  }

  .menu-cesto .cesto-dropdown li:hover{
    background-color: transparent!important;
    color: #333;  
  }
  
  nav .cesto-dropdown {
    display: none;
    right: 50px;
  }
  
  nav .cesto-dropdown li {
    font-weight: 300;
    color: rgb(0, 0, 0);  
  } 

  .cesto-numberOfItems {
    position: absolute;
    font-size: 1.8rem;
    background-color: #FFF;
    border-radius: 30%;
    color: var(--main-orange);
    margin-left: 30px;
    margin-top: 5px;
  }

  .menu-list {
    outline: none;
  }
  
  /*---------------------------------------------*/
  /*-------------MEDIA QUERIES-------------------*/
  /*---------------------------------------------*/
  @media screen and (max-width: 1440px) {
    #slider {
      flex-direction: column;
    }
    
    .slider-container {
      width: 100%;
      height: 400px;
    }
  
    .slider-info-container  {
      display: none;
    }
  
    .event-box {
      flex: 0 50%;
    }
  
    .event-box img{
      height: 100%;
    }
  
    .footer-wrapper {
      width: 100%;
    }
  
    .footer-box {
      flex: 1 25%;
    }
  
    .search-col-70 {
      flex: 1 30%;
    }
  
  }
  
  @media screen and (max-width: 870px) {

    .new-books,
    .book-container,
    .book-container2,
    .pre-releases,
    #spanish-books,
    #english-books,
    #french-books,
    #ebooks-div,
    #text-books {
      justify-content: center;
      align-items: center;
    }

    .search-col-70 {
      display: none;
    }
  
    .homepage-nav ul {
      flex-direction: column;
    }
    
    .homepage-nav ul li {
      width: 100%;
      padding: 10px 0;
    }
    
    .homepage-nav ul li:first-child {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #fff;
    }
  
    .homepage-nav ul li:nth-child(2) {
      border-right: none;
      border-bottom: 1px solid #fff;
    }
  
    .event-box {
      flex: 0 100%;
    }
  
    .footer-box {
      text-align: center;
    }
  
  }
  
  @media screen and (max-width: 760px) {
    .categories-col-10 {
      display: none;
      width: 100%;
      height: 400px;
      margin-top: 76px;
      z-index: 1;
      box-shadow:  1px 3px 10px rgba(51, 51, 51, 0.475);
    }
  
    main{
      width: 100% !important;
    }
  
    #slider {
      margin-top: 0;
    }
  
    .categories-responsive {
      display: block;
    }
  
    .slider-container {
      margin-top: 150px;
    }
  
    nav .cliente-dropdown {
      right: 150px !important;
    }
  
  }
  
  @media screen and (max-width: 580px) {
    .brand-col-10 {
      display: none;
    }
  
    nav .cliente-dropdown {
      right: 180px !important;
    }
  }
  
  @media screen and (max-width: 500px) {
    .menu-ajuda {
      display: none;
    }
  
    .login-confirm-icon {
      left: 30px;
    }
  
    main #showcase {
      height: 320px;
    }
  
    main #showcase h1 {
      font-size: 4rem;
    }
  
    nav .cliente-dropdown {
      right: 110px !important;
    }
  }
  
  @media screen and (max-width: 450px) {
    nav .cesto-dropdown {
      right: 0;
    }
  
    main #showcase {
      height: 290px;
    }
  
    main #showcase h1 {
      font-size: 2.6rem;
    }
  
    .slider-imgs {
      display: none;
    }
    
    #homepage-news {
      margin-top: -235px;
    }
  
    .slider-container {
      margin-top: 0;
    }
  
    nav .cliente-dropdown {
      width: 100%;
      right: 0 !important;
    }
  
  }
