<aside id="categories" class="categories-col-10" [ngClass]="responsiveMenu ? 'd-block': none">

    <div class="books-by-lang">
      <a (click)="changeView('homePage')" [routerLink]="['']" routerLinkActive="active-category">
        <h1>LIVROS</h1>
      </a>
      <ul>
        <li (click)="changeView('spanishPage')"><a [routerLink]="['/spanishPage']" routerLinkActive="active-category">EM ESPANHOL</a></li>
        <hr class="categories-hr">
        <li (click)="changeView('englishPage')"><a [routerLink]="['/englishPage']" routerLinkActive="active-category">EM INGLÊS</a></li>
        <hr class="categories-hr">
        <li (click)="changeView('frenchPage')"><a [routerLink]="['/frenchPage']" routerLinkActive="active-category">EM FRANÇÊS</a></li>
      </ul>
    </div>

    <div class="ebooks">
      <a (click)="changeView('ebooksPage')" [routerLink]="['/ebooksPage']" routerLinkActive="active-category">
        <h1>EBOOKS</h1>
      </a>
    </div>

    <div class="school-books">
      <a (click)="changeView('textBooksPage')" [routerLink]="['/textBooksPage']" routerLinkActive="active-category">
        <h1>LIVROS ESCOLARES</h1>
      </a>
    </div>

    <div class="login-to-acess">
      <span>Entre para ter acesso total</span>
      <a href="./pages/areaCliente/areaclienteLogin.html"><button>ENTRAR</button></a>
    </div>

  </aside> <!-- end categories section -->

  <section class="categories-responsive">
    <div  (click)="toggleMenu()" class="hamburguer-menu">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
