<section id="slider">
    <div class="slider-container">
        <div class="prev-img-slide slider-arrow">
            <img src="../../assets/img/slider-imgs/icons/back.svg" alt="change slider image">
        </div>
        <div class="slider-imgs">
            <img src="../../assets/img/slider-imgs/slider-img-1.jpg" alt="slider image">
            <img src="../../assets/img/slider-imgs/slider-img-2.jpg" alt="slider image">
            <img src="../../assets/img/slider-imgs/slider-img-3.jpg" alt="slider image">
            <img src="../../assets/img/slider-imgs/slider-img-4.png" alt="slider image">
            <img src="../../assets/img/slider-imgs/slider-img-5.png" alt="slider image">
        </div>
        <div class="next-img-slide slider-arrow">
            <img src="../../assets/img/slider-imgs/icons/arrow-point-to-right.svg" alt="change slider image">
        </div>
    </div>
    <div class="slider-info-container">
        <div class="slider-info">
            <h1>Fique atento ás nossa novidades</h1>
            <p>
                Destacamos aqui todos os nossos descontos, eventos e oportunidades semanalmente.
                Caso deseje ser notificado por email, subscreva à nossa newsletter.
            </p>
            <form method="POST" action="index.html">
                <div>
                    <input type="email" name="newsletter" placeholder="O seu email...">
                </div>
                <button type="submit" name="send">Subscrever</button>
            </form>
        </div>
    </div>
</section> <!-- end slider section -->
